[Unit]
Description=bitcoin daemon
After=network.target

[Service]
Type=forking
ExecStart=/usr/local/bin/bitcoind -daemon -datadir=%h/.local/share/bitcoin -conf=%h/.config/bitcoin/bitcoin.conf
WorkingDirectory=/
Restart=on-failure
RestartSec=3

[Install]
WantedBy=default.target
