[submodule "nvim/pack/minpac/opt/minpac"]
	path = nvim/pack/minpac/opt/minpac
	url = https://github.com/k-takata/minpac
[submodule "nvim/pack/minpac/start/lightline.vim"]
	path = nvim/pack/minpac/start/lightline.vim
	url = https://github.com/itchyny/lightline.vim
[submodule "nvim/pack/minpac/start/vim-eunuch"]
	path = nvim/pack/minpac/start/vim-eunuch
	url = https://github.com/tpope/vim-eunuch
[submodule "nvim/pack/minpac/start/vim-surround"]
	path = nvim/pack/minpac/start/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "nvim/pack/minpac/start/vim-showmarks"]
	path = nvim/pack/minpac/start/vim-showmarks
	url = https://github.com/jacquesbh/vim-showmarks
[submodule "nvim/pack/minpac/start/vim-clevertab"]
	path = nvim/pack/minpac/start/vim-clevertab
	url = https://github.com/neitanod/vim-clevertab
[submodule "nvim/pack/minpac/start/SearchComplete"]
	path = nvim/pack/minpac/start/SearchComplete
	url = https://github.com/vim-scripts/SearchComplete
[submodule "nvim/pack/minpac/start/vim-rtags"]
	path = nvim/pack/minpac/start/vim-rtags
	url = https://github.com/lyuts/vim-rtags
[submodule "nvim/pack/minpac/start/python-support.nvim"]
	path = nvim/pack/minpac/start/python-support.nvim
	url = https://github.com/roxma/python-support.nvim
[submodule "nvim/pack/minpac/start/editorconfig-vim"]
	path = nvim/pack/minpac/start/editorconfig-vim
	url = https://github.com/editorconfig/editorconfig-vim
[submodule "nvim/pack/minpac/start/nerdtree"]
	path = nvim/pack/minpac/start/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule "nvim/pack/minpac/start/ale"]
	path = nvim/pack/minpac/start/ale
	url = https://github.com/w0rp/ale
[submodule "nvim/pack/minpac/start/vim-gitgutter"]
	path = nvim/pack/minpac/start/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter
[submodule "nvim/pack/minpac/start/fzf"]
	path = nvim/pack/minpac/start/fzf
	url = https://github.com/junegunn/fzf
[submodule "nvim/pack/minpac/start/fzf.vim"]
	path = nvim/pack/minpac/start/fzf.vim
	url = https://github.com/junegunn/fzf.vim
[submodule "nvim/pack/minpac/start/vim-repeat"]
	path = nvim/pack/minpac/start/vim-repeat
	url = https://github.com/tpope/vim-repeat
[submodule "nvim/pack/minpac/start/vim-speeddating"]
	path = nvim/pack/minpac/start/vim-speeddating
	url = https://github.com/tpope/vim-speeddating
[submodule "nvim/pack/minpac/start/vim-fugitive"]
	path = nvim/pack/minpac/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "nvim/pack/minpac/start/supertab"]
	path = nvim/pack/minpac/start/supertab
	url = https://github.com/ervandew/supertab
[submodule "nvim/pack/minpac/start/vim-AutoPair"]
	path = nvim/pack/minpac/start/vim-AutoPair
	url = https://github.com/Ace-Who/vim-AutoPair
