[Unit]
Description=Notification handler
Documentation=man:dunst(1)
After=xorg.service

[Service]
ExecStart=/usr/bin/dunst
ExecReload=/usr/bin/kill -SIGUSR1 $MAINPID ; /usr/bin/kill -SIGUSR2 $MAINPID

[Install]
WantedBy=bspwm.target
