[Unit]
Description=Customizable desktop bar
Documentation=man:polybar(1)
After=xorg.service
BindsTo=ubar.service

[Service]
ExecStart=/usr/bin/polybar Bar
Restart=always

[Install]
WantedBy=bspwm.target
