[Unit]
Description=Customizable desktop bar
Documentation=man:polybar(1)
After=xorg.service
PartOf=polybar.service

[Service]
ExecStart=/usr/bin/polybar uBar
Restart=always

[Install]
WantedBy=graphical.target
